<div class="media col-8 mt-2 border border-primary align-items-center ">
  <a class="media-left" href="#">
    <img class="rounded-circle" src="https://picsum.photos/50/50?image={{producto.id}}" alt="">
  </a>
  <div class="media-body ">
    <h5>{{producto.nombre}}</h5>
    <p>Marca: {{producto.marca}}</p>
    <p>Costo: {{producto.precio}} </p>
  </div>
  
  <div class="media-right ml-2">
  <!-- EL BOTON DE SELECCIONAR DEBE APARECER solo en /productos -->
    <div class="row" *ngIf="componentMode == 1">
      <label class="btn btn-primary active">
        <input type="checkbox" name="addToCartBtn" autocomplete="off" (change)=addItemCart($event)>
      </label>
    </div>
    <div class="row">
      <a name="" id="" class="btn btn-primary" routerLink="{{((componentMode==1)?'/productos/':'/carrito/')+producto.id}}" href="#" role="button">
        <i class="fas fa-search "></i>
      </a>
    </div>
    <!-- EL BOTON DE BORRAR SIGUIENTE SOLO DEBE APARECER EN CARRITO DE COMPRA -->
    <div class="row mt-1" *ngIf="componentMode == 2" (click)="removeItemCart(producto.id)">
      <div name="" id="" class="btn btn-primary">
        <i class="fas fa-trash-alt "></i>
      </div>
    </div>
  </div>
 </div>